.form-container {
  display: flex;
  gap: 16px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}
.mat-mdc-form-field {
  width: 100%;
}

.fitro-mensaje{
  color: darkgray;
  width: 75%;
  margin: 0px 0 -17px;
  font-size: smaller;
}

h1{
 font-weight: bold;
 color: #6f42c1;
}

h1>small {
  color: #aaaaaa;
  font-size: .7em;
  padding-left: 5px;
  font-weight: normal;
}

.card {

  border: 0;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
  margin: 3em auto;
}

body {
  background-color: mintcream;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


button.mat-icon-button {
  margin: 0 4px;
}

.img-export-excel{
  padding-right: 20px;
  padding-bottom: 5px;
}


@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }


}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
