<app-navbar></app-navbar>
<form [formGroup]="filterForm" (ngSubmit)="applyFilter()">

  <mat-card class="chofer-card card" style="width: 100%; margin-top: 50px;">
    <mat-card-header>
      <mat-card-title><h1>Chofer<small>Listado</small></h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="grid-container">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName ="nombre" name="nombre">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellido Paterno</mat-label>
          <input matInput formControlName ="apellidoPaterno" name="apellido">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Seleccionar Item</mat-label>
          <mat-select formControlName="tipoDocumento" name="tipoDocumento">
            <mat-option *ngFor="let item of tipodocumentoList" [value]="item.descripcion">
              {{ item.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Numero Documento</mat-label>
          <input matInput formControlName ="numeroDocumento" name="numeroDocumento">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: flex-end; gap: 16px;">
      <p class="fitro-mensaje"> <img class="img-export-excel" src="../../../../assets/img/exportar-excel-24.png" (click)="exportDataToExcel()" > F2 limpiar filtros   </p>

      <button mat-raised-button color="accent" type="button"  (click)="navigateToAgregar()"  >Agregar</button>
      <button mat-raised-button color="primary" type="submit"   >Filtrar</button>
      <button mat-raised-button color="secondary" type="button" >Regresar</button>
    </mat-card-actions>
  </mat-card>


</form>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="choferes" class="mat-table">
      <!-- Id Column -->
      <ng-container matColumnDef="id" style="display: none !important;" >
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombresyapellidos" >
      <th mat-header-cell *matHeaderCellDef  > Nombre y Apellidos </th>
      <td mat-cell *matCellDef="let element" >  {{ element.nombre }} {{ element.apellidoPaterno }} {{ element.apellidoMaterno }}  </td>
    </ng-container>


    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container> >

       <!-- tipoDocumento Column -->
       <ng-container matColumnDef="nroDocumento">
        <th mat-header-cell *matHeaderCellDef> Nro Documento </th>
        <td mat-cell *matCellDef="let element"> {{element.numeroDocumento}} </td>
      </ng-container> >

     <!-- tipoDocumento Column -->
     <ng-container matColumnDef="brevete">
      <th mat-header-cell *matHeaderCellDef> Brevete </th>
      <td mat-cell *matCellDef="let element"> {{element.brevete}} </td>
    </ng-container> >

     <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="editElement(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteElement(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]=" this.totalItems"
  [pageSize]="sieveTotal.pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="onChangePage($event)">
  <ng-template matPaginatorRangeLabel let-pageSize let-start let-end let-total>
    {{ '...' }}
  </ng-template>
  </mat-paginator>

</div>
