<nav class="navbar navbar-custom  navbar-dark navbar-expand-lg  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h3>PICK AND GO </h3>

    </a>
    <button
      (click)="toggleNavbarCollapsing()"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [class.collapse]="navbarCollapsed"
      class="navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" >Inicio</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Operaciones
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="almacen/agregar">Vines</a></li>
            <li><a class="dropdown-item" routerLink="almacen/listado" >Guias</a></li>
            <!-- <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" routerLink="almacen/asignar" >Liquidaciones</a></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Mantenimientos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="llantas/agregar">Entidades</a></li>
            <li><a class="dropdown-item" routerLink="llantas/listado">Establecimientos</a></li>
            <li><a class="dropdown-item" routerLink="llantas/listado">Tarifarios</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" routerLink="transporte">Transportes</a></li>
            <li><a class="dropdown-item" routerLink="llantas/listado">Colores</a></li>
            <li><a class="dropdown-item" routerLink="chofer">Choferes</a></li>


          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Seguridad
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Usuario</a></li>
            <li><a class="dropdown-item" href="#">Accesos</a></li>

          </ul>
        </li>

      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Nro Vin"
          aria-label="Search"
        />
        <button class="btn btn-outline-light" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
