<nav class="navbar navbar-custom  navbar-dark navbar-expand-lg  ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <h3>PICK AND GO </h3>

    </a>
    <button
      (click)="toggleNavbarCollapsing()"
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      [class.collapse]="navbarCollapsed"
      class="navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home" >Inicio</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Operaciones
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/enconstruccion">Vines</a></li>
            <li><a class="dropdown-item" routerLink="/guiatransportista/listado">GuiasTransportistas</a></li>
            <!-- <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" routerLink="almacen/asignar" >Liquidaciones</a></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Mantenimientos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/enconstruccion">Entidades</a></li>
            <li><a class="dropdown-item" routerLink="/enconstruccion">Establecimientos</a></li>
            <li><a class="dropdown-item" routerLink="/enconstruccion">Tarifarios</a></li>
            <li><hr class="dropdown-divider" /></li>   <li><a class="dropdown-item" routerLink="/transporte/listado">Transportes</a></li>
            <li><a class="dropdown-item" routerLink="/chofer/listado">Choferes</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Seguridad
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/enconstruccion">Usuario</a></li>
            <li><a class="dropdown-item" routerLink="/enconstruccion">Accesos</a></li>

          </ul>
        </li>

      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Nro Vin"
          aria-label="Search"
        />
        <button class="btn btn-outline-light" type="submit">Buscar</button>
        <!-- <button class="btn btn-outline-light" style="padding-left: 10px;" mat-button *ngIf="authService.isLoggedIn()" (click)="logout()">Logout</button> -->
        <div class="example-button-container" >
          <button  mat-mini-fab aria-label="Example icon button with a menu icon" color="primary" (click)="logout()"   matTooltipPosition="right"  matTooltip="Cerrar Sesion"  >
            <mat-icon>logout</mat-icon>
          </button>
        </div>

      </form>
    </div>
  </div>
</nav>
